## Extração do dataset

In [ ]:
import pandas as pd
# ** EXTRACT **
df = pd.read_csv('E:\BootCampSantander\etl\pokePd.csv')

In [9]:
# Lendo o cabeçalho do DataSet
df.head()

,Unnamed: 0,Name,Type,Total,HP,Attack,Defense,Sp.Atk,Sp.Def,Speed
0,0,Bulbasaur,"['Grass', 'Poison']",318,45,49,49,65,65,45
1,1,Ivysaur,"['Grass', 'Poison']",405,60,62,63,80,80,60
2,2,Venusaur,"['Grass', 'Poison']",525,80,82,83,100,100,80
3,3,Venusaur Mega Venusaur,"['Grass', 'Poison']",625,80,100,123,122,120,80
4,4,Charmander,['Fire'],309,39,52,43,60,50,65

In [11]:
# Removendo coluna Unnamed ** TRANSFORM **
df = df.drop("Unnamed: 0", axis = 1)

In [12]:
# Verificando
df.head()

,Name,Type,Total,HP,Attack,Defense,Sp.Atk,Sp.Def,Speed
0,Bulbasaur,"['Grass', 'Poison']",318,45,49,49,65,65,45
1,Ivysaur,"['Grass', 'Poison']",405,60,62,63,80,80,60
2,Venusaur,"['Grass', 'Poison']",525,80,82,83,100,100,80
3,Venusaur Mega Venusaur,"['Grass', 'Poison']",625,80,100,123,122,120,80
4,Charmander,['Fire'],309,39,52,43,60,50,65

In [13]:
# ** TRANSFORM ** 2
# Pegar todos os pokemons com HP > 50
df = df[df["HP"] > 50]

In [14]:
# ** LOAD **
# Guardar as informações obtidas em outro arquivo CSV
df.to_csv("poke_hp_maior_50.csv")

In [16]:
# Verificando novo arquivo poke_hp_maior_50.csv"
df = pd.read_csv("poke_hp_maior_50.csv")
print(df)

     Unnamed: 0                         Name                   Type  Total  \
0             1                      Ivysaur    ['Grass', 'Poison']    405
1             2                     Venusaur    ['Grass', 'Poison']    525
2             3       Venusaur Mega Venusaur    ['Grass', 'Poison']    625
3             5                   Charmeleon               ['Fire']    405
4             6                    Charizard     ['Fire', 'Flying']    534
..          ...                          ...                    ...    ...
760        1029          Eternatus Eternamax   ['Poison', 'Dragon']   1125
761        1030                        Kubfu           ['Fighting']    385
762        1031  Urshifu Single Strike Style   ['Fighting', 'Dark']    550
763        1032   Urshifu Rapid Strike Style  ['Fighting', 'Water']    550
764        1033                       Zarude      ['Dark', 'Grass']    600

      HP  Attack  Defense  Sp.Atk  Sp.Def  Speed
0     60      62       63      80      80     60
1     80      82       83     100     100     80
2     80     100      123     122     120     80
3     58      64       58      80      65     80
4     78      84       78     109      85    100
..   ...     ...      ...     ...     ...    ...
760  255     115      250     125     250    130
761   60      90       60      53      50     72
762  100     130      100      63      60     97
763  100     130      100      63      60     97
764  105     120      105      70      95    105

[765 rows x 10 columns]